*{
    margin: 0px;
    padding: 0px;
}
.menu{
    height: 100px; width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.leftmenu{
    width: 25%;
    line-height: 100px;
    float: left;
}
.leftmenu h2{
    color: white;
    padding-left: 100px;
    text-transform: uppercase;
    font-size: larger;
}
.rightmenu{
    width: 75%;
    float: right;
}
.rightmenu ul{
    margin-left: 100px;
    padding-left: 300px;
}
.rightmenu ul li{
    color: white;
    margin-left: 50px;
    display: inline;
    line-height: 100px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}
#home{
    color: orange;
}
.rightmenu ul li:hover{
    color: orange;
    transition: 0.5s;
}